---
version: "2.2"
services:
  atlantis:
    image: ghcr.io/runatlantis/atlantis:latest
    restart: unless-stopped
    volumes:
      - ${PWD}/config:/config
      - ${PWD}/data:/data
    environment:
      ATLANTIS_CONFIG: /config/atlantis.yml
      ATLANTIS_DATA_DIR: /data
      AWS_ACCESS_KEY_ID: <Access Key ID>
      AWS_SECRET_ACCESS_KEY: <Secret Key>
      AWS_REGION: us-west-2
      CLOUDFLARE_API_TOKEN: <Cloudflare Access Token>
    networks:
      - atlantis

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=<Your CF Tunnel Token>
    networks:
      - atlantis

networks:
  atlantis:
