---
version: '3.5'
services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    volumes:
      - "{{ container_directory_root }}/gitlab/data:/var/opt/gitlab"
      - "{{ container_directory_root }}/gitlab/logs:/var/log/gitlab"
      - "{{ container_directory_root }}/gitlab/config:/etc/gitlab"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://Manager-Ip/'
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        letsencrypt['enable'] = false
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints:
          - node.role == manager

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ container_directory_root }}/gitlab/runner:/etc/gitlab-runner"
    deploy:
      labels:
        - "diun.enable=true"
      placement:
          - node.role == worker
      mode: replicated
      replicas: 1
      restart_policy:
         condition: any

 # https://github.com/badges/shields/blob/master/doc/self-hosting.md
  shields:
    image: shieldsio/shields:next
    restart: always
    ports:
      - 8080:8080
    volumes:
    enviornment:
      - PORT=8080
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints:
          - node.role == manager

# https://github.com/badges/squint/blob/main/CONTRIBUTING.md
#  squint:
#    container_name: squint-local
#    image: squint-local
#    ports:
#      - 3001:3001
#    volumes:
#    enviornment:
#    # - PORT=8080
#    deploy:
#      labels:
#        - "diun.enable=true"
#      placement:
#        constraints: 
#          - node.role == manager
#    restart: always

#  redis:
#    image: redis:7.4-alpine@sha256:02419de7eddf55aa5bcf49efb74e88fa8d931b4d77c07eff8a6b2144472b6952
#    restart: always
#    ports:
#      - 6379:6379
#    command: redis-server --save 20 1 --loglevel warning --requirepass test123
#    volumes:
#      - "{{ container_directory_root }}/redis:/data
#    deploy:
#      labels:
#        - "diun.enable=true"
#      placement:
#        constraints:
#          - node.role == manager

  atlantis:
    image: ghcr.io/runatlantis/atlantis
    ports:
      - "8080:8080"
    volumes:
      - "{{ container_directory_root }}/atlantis:/var/atlantis
      - "{{ container_directory_root }}/atlantis/.ssh:/home/atlantis/.ssh:ro
    environment:
      ATLANTIS_GH_TOKEN: ${ATLANTIS_GH_TOKEN}
      ATLANTIS_REPO_ALLOWLIST: ${ATLANTIS_REPO_ALLOWLIST}
      ATLANTIS_PORT: 8080
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints: 
          - node.role == manager
  drawio:
    image: jgraph/drawio
    container_name: drawio
    restart: unless-stopped
    ports:
      - 8080:8080
      - 8443:8443
    environment:
      PUBLIC_DNS: domain
      ORGANISATION_UNIT: unit
      ORGANISATION: org
      CITY: city
      STATE: state
      COUNTRY_CODE: country
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints:
          - node.role == worker
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://domain:8080 || exit 1"]
      interval: 1m30s
      timeout: 10s
      retries: 5
      start_period: 10s

  registry:
    image: ghcr.io/project-zot/zot-linux-amd64:latest
    depends_on:
      - gitlab
    volumes:
      - "{{ container_directory_root }}/registry://var/lib/registry
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints:
          - node.role == manager

networks:
  default:
    name: gitlab-network:
    external: true
