version: '3.8'

services:
  openvoxserver:
    image: voxpupuli/openvoxserver:latest # Or a specific version
    container_name: openvoxserver
    ports:
      - "8140:8140" # Puppet Server port
    environment:
      # Optional: Set environment variables for configuration
      # - OPENVOXSERVER_ENVIRONMENT_TIMEOUT=0 # Disable environment caching
      # - OPENVOXSERVER_JAVA_ARGS="-Xms512m -Xmx512m" # Adjust Java memory
    volumes:
      # Optional: Mount volumes for persistent data or custom configurations
      # - ./data/openvoxserver:/opt/puppetlabs/server/data/puppetserver
      # - ./conf/openvoxserver:/etc/puppetlabs/puppetserver
    networks:
      - openvox_network

  openvoxdb:
    image: openvoxproject/openvoxdb:latest # Or a specific version
    container_name: openvoxdb_container
    ports:
      - "5432:5432" # Example port mapping for PostgreSQL, adjust if using a different DB
    environment:
      # Example environment variables for database configuration
      - POSTGRES_DB=openvox_database
      - POSTGRES_USER=openvox_user
      - POSTGRES_PASSWORD=your_secure_password
    volumes:
      - openvoxdb_data:/var/lib/postgresql/data # Persistent storage for database data
    networks:
      - openvox_network

  # Add other services here, e.g., a backend application that connects to openvoxdb
  # my_application:
  #   image: my_application_image:latest
  #   container_name: my_application_container
  #   depends_on:
  #     - openvoxdb
  #   environment:
  #     - DB_HOST=openvoxdb # Use the service name as the hostname
  #     - DB_PORT=5432
  #     - DB_NAME=openvox_database
  #     - DB_USER=openvox_user
  #     - DB_PASSWORD=your_secure_password
  #   networks:
  #     - openvox_network

  puppetboard:
    image: ghcr.io/voxpupuli/puppetboard:latest
    volumes:
      - ./puppetboard:/etc/puppetboard:ro
    environment:
      - PUPPETDB_HOST=puppet', # this must be the certname or DNS_ALT_NAME of the PuppetDB host
      - PUPPETDB_PORT=8081
      - PUPPETBOARD_PORT=8080
      - ENABLE_CATALOG=true
      - PUPPETDB_SSL_VERIFY=false
      - PUPPETDB_KEY=/etc/puppetboard/key.pem
      - PUPPETDB_CERT=/etc/puppetboard/cert.pem
      - SECRET_KEY=XXXXXXXX
      - DEFAULT_ENVIRONMENT=*
    networks:
      - openvox_network
    

volumes:
  openvoxdb_data:

networks:
  openvox_network:
    driver: bridge
