---
version: "3.8"
services:
# https://github.com/badges/shields/blob/master/doc/self-hosting.md
  shields:
    container_name: shields
    image: shieldsio/shields:next
    ports:
      - 8080:8080
    volumes:
    enviornment:
      - PORT=8080
      - "GH_CLIENT_ID=${{ gh_client_id }}"
      - "GH_CLIENT_SECRET=${{ gh_client_secret }}"
      - "GH_TOKEN=${{ github_personal_access_token }}"
      - "GITLAB_TOKEN=${{ gitlab_personal_access_token }}"
      - "DOCKERHUB_USER=${{ dockerhub_username }}"
      - "DOCKERHUB_PAT=${{ dockerhub_pat }}"
      - "INFLUX_USERNAME=${{ influx_username }}"
      - "INFLUX_PASSWORD=${{ influx_password }}"
      - "JENKINS_USER=${{ jenkins_user }}"
      - "JENKINS_PASS=${{ jenkins_pass }}"
      - "POSTGRES_URL=${{ postgres_url }}"
      - "METRICS_PROMETHEUS_ENABLED=${{ metrics_prometheus_enabled }}"
      - "METRICS_PROMETHEUS_ENDPOINT_ENABLED=${{ metrics_prometheus_endpoint_enabled }}"
      - "METRICS_INFLUX_ENABLED=${{ metrics_influx_enabled }}"
      - "METRICS_INFLUX_URL=${{ metrics_influx_url }}"
      - "METRICS_INFLUX_TIMEOUT_MILLISECONDS=${{ metrics_influx_timeout_milliseconds }}"
      - "METRICS_INFLUX_INTERVAL_SECONDS=${{ metrics_influx_interval_seconds }}"
      - "METRICS_INFLUX_INSTANCE_ID_FROM=${{ metrics_influx_instance_id_from }}"
      - "METRICS_INFLUX_INSTANCE_ID_ENV_VAR_NAME=${{ metrics_influx_instance_id_env_var_name }}"
      - "METRICS_INFLUX_ENV_LABEL=${{ metrics_influx_env_label }}"
    restart: always
    deploy:
      labels:
        - "diun.enable=true"
      placement:
        constraints:
          - node.role == manager

# https://github.com/badges/squint/blob/main/CONTRIBUTING.md
#  squint:
#    container_name: squint-local
#    image: squint-local
#    ports:
#      - 3001:3001
#    volumes:
#    enviornment:
#    # - PORT=8080
#    restart: always
#    deploy:
#      labels:
#        - "diun.enable=true"
#      placement:
#        constraints:
#          - node.role == manager
