version: "3.2"

services:
  swarm-cronjob:
    image: crazymax/swarm-cronjob
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - "TZ={{ default_timezone }}"
      - "LOG_LEVEL=info"
      - "LOG_JSON=false"
    deploy:
      labels:
        diun.enable: 'true'
      placement:
        constraints:
          - node.role == manager

