---

# Unifi Poller
unifi_poller_influxdb_password="unifiadmin"
unifi_poller_grafana_password="unifiadmin"
unifi_unifipoller_user="unifipoller"
unifi_unifipoller_user_password="P0llUn!f!"




version: '3'
services:
  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - '9090:9090'
    volumes:
      - "{{ container_directory_root }}/upoller/prometheus:/etc/prometheus
      - prometheus-data:/prometheus
  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD="{{ unifi_poller_grafana_password }}"
      - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,grafana-piechart-panel
  unpoller:
    image: ghcr.io/unpoller/unpoller:latest
    restart: unless-stopped
    ports:
      - '9130:9130'
    container_name: unpoller
    environment:
      UP_INFLUXDB_DISABLE="true"
      UP_POLLER_DEBUG="false"
      UP_UNIFI_DYNAMIC="false"
      UP_PROMETHEUS_HTTP_LISTEN=0.0.0.0:9130
      UP_PROMETHEUS_NAMESPACE=unpoller
      UP_UNIFI_CONTROLLER_0_PASS=unpoller12345
      UP_UNIFI_CONTROLLER_0_SAVE_ALARMS="true"
      UP_UNIFI_CONTROLLER_0_SAVE_ANOMALIES="true"
      UP_UNIFI_CONTROLLER_0_SAVE_DPI="true"
      UP_UNIFI_CONTROLLER_0_SAVE_EVENTS="true"
      UP_UNIFI_CONTROLLER_0_SAVE_IDS="true"
      UP_UNIFI_CONTROLLER_0_SAVE_SITES="true"
      UP_UNIFI_CONTROLLER_0_URL="{{ UNIFI_CONTROLLER_API_URL }}"
      UP_UNIFI_CONTROLLER_0_USER="{{ UNIFI_CONTROLLER_API_USER }}"
volumes:
  grafana-storage:
  prometheus-data:
