[{"feed":"https://packages.synocommunity.com","name":"SynoCommunity"},{"feed":"https://get.filebot.net/syno/","name":"FileBot"},{"feed":"https://spk.synologyitalia.com/","name":"SynologyItalia"},{"feed":"https://www.blisshq.com/repo/syno/packages-DSM7.json","name":"BlissHQ"},{"feed":"https://www.cphub.net/","name":"CPHub"}]
