ATLANTIS_ATLANTIS_URL={{ atlantis_atlantis_url }}
ATLANTIS_GH_USER={{ atlantis_gh_user }}
ATLANTIS_GH_TOKEN={{ atlantis_gh_token }}
ATLANTIS_GH_WEBHOOK_SECRET={{ atlantis_gh_webhook_secret }}
ATLANTIS_REPO_ALLOWLIST={{ atlantis_repo_allowlist }}
ATLANTIS_REPO_CONFIG={{ atlantis_repo_config }}
ATLANTIS_ENABLE_POLICY_CHECKS={{ atlantis_enable_policy_checks }}
ATLANTIS_LOG_LEVEL={{ atlantis_log_level }}
ATLANTIS_LOCKING_DB_TYPE={{ atlantis_locking_db_type }}
ATLANTIS_REDIS_DB={{ atlantis_redis_db }}
ATLANTIS_REDIS_HOST={{ atlantis_redis_host }}
