[
  {
    "id": "sitelink",
    "type": "inputstring",
    "name": "Site Link",
    "value": "https://iptorrents.com/"
  },
  {
    "id": "cookie",
    "type": "inputstring",
    "name": "Cookie",
    "value": "__cfduid=df2e645b71e056883d27a877d448233141608177628; cf_clearance=56103fa43720d537d5a1e9ef7929f5a0a137187a-1608177633-0-150; uid=1597560; pass=878c8f587997815457e7636f5ae9b6a3"
  },
  {
    "id": "cookieinstructions",
    "type": "displayinfo",
    "name": "Cookie Instructions",
    "value": "Please enter the cookie for the site manually. <a href=\"https://github.com/Jackett/Jackett/wiki/Finding-cookies\" target=\"_blank\">See here</a> on how get the cookies.<br>Example cookie header (usually longer than this):<br><code>PHPSESSID=8rk27odm; ipsconnect_63ad9c=1; more_stuff=etc;</code>"
  },
  {
    "id": "",
    "type": "displayinfo",
    "name": "",
    "value": "For best results, change the 'Torrents per page' option to 100 and check the 'Torrents - Show files count' option in the website Settings."
  },
  {
    "id": "cookieheader",
    "type": "hiddendata",
    "name": "CookieHeader",
    "value": "__cfduid=df2e645b71e056883d27a877d448233141608177628; cf_clearance=56103fa43720d537d5a1e9ef7929f5a0a137187a-1608177633-0-150; uid=1597560; pass=878c8f587997815457e7636f5ae9b6a3"
  },
  {
    "id": "lasterror",
    "type": "hiddendata",
    "name": "LastError",
    "value": null
  }
]