{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "{{ jackett_api_key }}",
  "AdminPassword": {{ jackett_admin_password }},
  "InstanceId": "{{ jackett_instance_id }}",
  "BlackholeDir": {{ jackett_blackhole_dir }},
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": null,
  "OmdbApiKey": {{ omdbapi_key }},
  "ProxyUrl": null,
  "ProxyType": 0,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}
