PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
DROP TABLE "RootFolders";
CREATE TABLE "RootFolders" ("Id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "Path" TEXT NOT NULL);
INSERT INTO "RootFolders" VALUES(1,'/tv/');
CREATE UNIQUE INDEX "IX_RootFolders_Path" ON "RootFolders" ("Path" ASC);
COMMIT;
