PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Indexers" ("Id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "Name" TEXT NOT NULL, "Implementation" TEXT NOT NULL, "Settings" TEXT, "ConfigContract" TEXT, "Enable" INTEGER, "Priority" INTEGER NOT NULL, "Added" DATETIME NOT NULL, "Redirect" INTEGER NOT NULL, "AppProfileId" INTEGER NOT NULL, "Tags" TEXT, "DownloadClientId" INTEGER NOT NULL);
INSERT INTO Indexers VALUES(1,'Headphones VIP','Headphones',replace('{
  "apiPath": "/api",
  "apiKey": "964d601959918a578a670984bdee9357",
  "baseUrl": "https://indexer.codeshy.com",
  "username": "{{ headphones_vip_username }}",
  "password": "{{ headphones_vip_password }}",
  "baseSettings": {
    "limitsUnit": 0
  }
}','
',char(10)),'HeadphonesSettings',1,25,'2024-06-06 15:53:45.8210763Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(4,'IPTorrents','IPTorrents',replace('{
  "userAgent": "{{ ipt_useragent }}",
  "freeLeechOnly": false,
  "cookie": "{{ ipt_cookie }}",
  "baseUrl": "{{ ipt_base_url }}",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'IPTorrentsSettings',1,25,'2024-06-07 13:39:32.4732996Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(5,'NZBgeek','Newznab',replace('{
  "baseUrl": "{{ nzbgeek_api_url }}",
  "apiPath": "/api",
  "apiKey": "{{ nzbgeek_api_key }}",
  "vipExpiration": "",
  "baseSettings": {
    "limitsUnit": 0
  },
  "capabilities": {
    "supportsRawSearch": false,
    "searchParams": [
      "q"
    ],
    "tvSearchParams": [
      "q",
      "rId",
      "tvdbId",
      "season",
      "ep"
    ],
    "movieSearchParams": [
      "q",
      "imdbId",
      "genre"
    ],
    "musicSearchParams": [
      "q"
    ],
    "bookSearchParams": [],
    "categories": [
      {
        "id": 1000,
        "name": "Console",
        "subCategories": []
      },
      {
        "id": 1010,
        "name": "Console/NDS",
        "subCategories": []
      },
      {
        "id": 1020,
        "name": "Console/PSP",
        "subCategories": []
      },
      {
        "id": 1030,
        "name": "Console/Wii",
        "subCategories": []
      },
      {
        "id": 1090,
        "name": "Console/Other",
        "subCategories": []
      },
      {
        "id": 1040,
        "name": "Console/XBox",
        "subCategories": []
      },
      {
        "id": 1050,
        "name": "Console/XBox 360",
        "subCategories": []
      },
      {
        "id": 1060,
        "name": "Console/Wiiware",
        "subCategories": []
      },
      {
        "id": 1070,
        "name": "Console/XBox 360 DLC",
        "subCategories": []
      },
      {
        "id": 1080,
        "name": "Console/PS3",
        "subCategories": []
      },
      {
        "id": 1140,
        "name": "Console/XBox One",
        "subCategories": []
      },
      {
        "id": 1180,
        "name": "Console/PS4",
        "subCategories": []
      },
      {
        "id": 1110,
        "name": "Console/3DS",
        "subCategories": []
      },
      {
        "id": 101010,
        "name": "Console/NDS",
        "subCategories": []
      },
      {
        "id": 101020,
        "name": "Console/PSP",
        "subCategories": []
      },
      {
        "id": 101030,
        "name": "Console/Wii",
        "subCategories": []
      },
      {
        "id": 101035,
        "name": "Console/Switch",
        "subCategories": []
      },
      {
        "id": 101040,
        "name": "Console/Xbox",
        "subCategories": []
      },
      {
        "id": 101050,
        "name": "Console/Xbox 360",
        "subCategories": []
      },
      {
        "id": 101060,
        "name": "Console/WiiWare/VC",
        "subCategories": []
      },
      {
        "id": 101070,
        "name": "Console/XBOX 360 DLC",
        "subCategories": []
      },
      {
        "id": 101080,
        "name": "Console/PS3",
        "subCategories": []
      },
      {
        "id": 101090,
        "name": "Console/Xbox One",
        "subCategories": []
      },
      {
        "id": 101100,
        "name": "Console/PS4",
        "subCategories": []
      },
      {
        "id": 101110,
        "name": "Console/NSW",
        "subCategories": []
      },
      {
        "id": 101000,
        "name": "Console",
        "subCategories": []
      },
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 2010,
        "name": "Movies/Foreign",
        "subCategories": []
      },
      {
        "id": 2020,
        "name": "Movies/Other",
        "subCategories": []
      },
      {
        "id": 2030,
        "name": "Movies/SD",
        "subCategories": []
      },
      {
        "id": 2040,
        "name": "Movies/HD",
        "subCategories": []
      },
      {
        "id": 2045,
        "name": "Movies/UHD",
        "subCategories": []
      },
      {
        "id": 2050,
        "name": "Movies/BluRay",
        "subCategories": []
      },
      {
        "id": 2060,
        "name": "Movies/3D",
        "subCategories": []
      },
      {
        "id": 102010,
        "name": "Movies/Foreign",
        "subCategories": []
      },
      {
        "id": 102020,
        "name": "Movies/Other",
        "subCategories": []
      },
      {
        "id": 102030,
        "name": "Movies/SD",
        "subCategories": []
      },
      {
        "id": 102040,
        "name": "Movies/HD",
        "subCategories": []
      },
      {
        "id": 102045,
        "name": "Movies/UHD",
        "subCategories": []
      },
      {
        "id": 102050,
        "name": "Movies/BluRay",
        "subCategories": []
      },
      {
        "id": 102060,
        "name": "Movies/3D",
        "subCategories": []
      },
      {
        "id": 102000,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 3000,
        "name": "Audio",
        "subCategories": []
      },
      {
        "id": 3010,
        "name": "Audio/MP3",
        "subCategories": []
      },
      {
        "id": 3020,
        "name": "Audio/Video",
        "subCategories": []
      },
      {
        "id": 3030,
        "name": "Audio/Audiobook",
        "subCategories": []
      },
      {
        "id": 3040,
        "name": "Audio/Lossless",
        "subCategories": []
      },
      {
        "id": 103010,
        "name": "Audio/MP3",
        "subCategories": []
      },
      {
        "id": 103020,
        "name": "Audio/Video",
        "subCategories": []
      },
      {
        "id": 103030,
        "name": "Audio/Audiobook",
        "subCategories": []
      },
      {
        "id": 103040,
        "name": "Audio/Lossless",
        "subCategories": []
      },
      {
        "id": 103000,
        "name": "Audio",
        "subCategories": []
      },
      {
        "id": 4000,
        "name": "PC",
        "subCategories": []
      },
      {
        "id": 4010,
        "name": "PC/0day",
        "subCategories": []
      },
      {
        "id": 4020,
        "name": "PC/ISO",
        "subCategories": []
      },
      {
        "id": 4030,
        "name": "PC/Mac",
        "subCategories": []
      },
      {
        "id": 4040,
        "name": "PC/Mobile-Other",
        "subCategories": []
      },
      {
        "id": 4050,
        "name": "PC/Games",
        "subCategories": []
      },
      {
        "id": 4060,
        "name": "PC/Mobile-iOS",
        "subCategories": []
      },
      {
        "id": 4070,
        "name": "PC/Mobile-Android",
        "subCategories": []
      },
      {
        "id": 104010,
        "name": "PC/0day",
        "subCategories": []
      },
      {
        "id": 104020,
        "name": "PC/ISO",
        "subCategories": []
      },
      {
        "id": 104030,
        "name": "PC/Mac",
        "subCategories": []
      },
      {
        "id": 104040,
        "name": "PC/Mobile-Other",
        "subCategories": []
      },
      {
        "id": 104050,
        "name": "PC/Games",
        "subCategories": []
      },
      {
        "id": 104060,
        "name": "PC/Mobile-iOS",
        "subCategories": []
      },
      {
        "id": 104070,
        "name": "PC/Mobile-Android",
        "subCategories": []
      },
      {
        "id": 104000,
        "name": "PC",
        "subCategories": []
      },
      {
        "id": 5000,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 5020,
        "name": "TV/Foreign",
        "subCategories": []
      },
      {
        "id": 5030,
        "name": "TV/SD",
        "subCategories": []
      },
      {
        "id": 5040,
        "name": "TV/HD",
        "subCategories": []
      },
      {
        "id": 5045,
        "name": "TV/UHD",
        "subCategories": []
      },
      {
        "id": 5050,
        "name": "TV/Other",
        "subCategories": []
      },
      {
        "id": 5060,
        "name": "TV/Sport",
        "subCategories": []
      },
      {
        "id": 5070,
        "name": "TV/Anime",
        "subCategories": []
      },
      {
        "id": 5080,
        "name": "TV/Documentary",
        "subCategories": []
      },
      {
        "id": 105020,
        "name": "TV/Foreign",
        "subCategories": []
      },
      {
        "id": 105030,
        "name": "TV/SD",
        "subCategories": []
      },
      {
        "id": 105040,
        "name": "TV/HD",
        "subCategories": []
      },
      {
        "id": 105045,
        "name": "TV/UHD",
        "subCategories": []
      },
      {
        "id": 105050,
        "name": "TV/Other",
        "subCategories": []
      },
      {
        "id": 105060,
        "name": "TV/Sport",
        "subCategories": []
      },
      {
        "id": 105070,
        "name": "TV/Anime",
        "subCategories": []
      },
      {
        "id": 105080,
        "name": "TV/Documentary",
        "subCategories": []
      },
      {
        "id": 105000,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 6000,
        "name": "XXX",
        "subCategories": []
      },
      {
        "id": 6010,
        "name": "XXX/DVD",
        "subCategories": []
      },
      {
        "id": 6020,
        "name": "XXX/WMV",
        "subCategories": []
      },
      {
        "id": 6030,
        "name": "XXX/XviD",
        "subCategories": []
      },
      {
        "id": 6040,
        "name": "XXX/x264",
        "subCategories": []
      },
      {
        "id": 6050,
        "name": "XXX/Pack",
        "subCategories": []
      },
      {
        "id": 6060,
        "name": "XXX/ImageSet",
        "subCategories": []
      },
      {
        "id": 6070,
        "name": "XXX/Other",
        "subCategories": []
      },
      {
        "id": 106010,
        "name": "XXX/DVD",
        "subCategories": []
      },
      {
        "id": 106020,
        "name": "XXX/WMV",
        "subCategories": []
      },
      {
        "id": 106030,
        "name": "XXX/XviD",
        "subCategories": []
      },
      {
        "id": 106040,
        "name": "XXX/x264",
        "subCategories": []
      },
      {
        "id": 106050,
        "name": "XXX/Pack",
        "subCategories": []
      },
      {
        "id": 106060,
        "name": "XXX/ImgSet",
        "subCategories": []
      },
      {
        "id": 106070,
        "name": "XXX/Other",
        "subCategories": []
      },
      {
        "id": 106000,
        "name": "XXX",
        "subCategories": []
      },
      {
        "id": 7000,
        "name": "Books",
        "subCategories": []
      },
      {
        "id": 7010,
        "name": "Books/Mags",
        "subCategories": []
      },
      {
        "id": 7020,
        "name": "Books/EBook",
        "subCategories": []
      },
      {
        "id": 7030,
        "name": "Books/Comics",
        "subCategories": []
      },
      {
        "id": 107010,
        "name": "Books/Mags",
        "subCategories": []
      },
      {
        "id": 107020,
        "name": "Books/Ebook",
        "subCategories": []
      },
      {
        "id": 107030,
        "name": "Books/Comics",
        "subCategories": []
      },
      {
        "id": 107000,
        "name": "Books",
        "subCategories": []
      },
      {
        "id": 8000,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 8010,
        "name": "Other/Misc",
        "subCategories": []
      },
      {
        "id": 108010,
        "name": "Other/Misc",
        "subCategories": []
      },
      {
        "id": 0,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 108000,
        "name": "Other",
        "subCategories": []
      }
    ]
  }
}','
',char(10)),'NewznabSettings',1,25,'2024-06-07 13:42:52.8304553Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(6,'Nyaa.si','Cardigann',replace('{
  "definitionFile": "nyaasi",
  "extraFieldData": {
    "prefer_magnet_links": true,
    "sonarr_compatibility": false,
    "strip_s01": false,
    "radarr_compatibility": false,
    "filter-id": 0,
    "cat-id": 0,
    "sort": 0,
    "type": 1
  },
  "baseUrl": "https://nyaa.si/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:43:19.5201556Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(7,'1337x','Cardigann',replace('{
  "definitionFile": "1337x",
  "extraFieldData": {
    "info_flaresolverr": "This site may use Cloudflare DDoS Protection, therefore Prowlarr requires \u003Ca href=\u0022https://wiki.servarr.com/prowlarr/faq#can-i-use-flaresolverr-indexers\u0022 target=\u0022_blank\u0022 rel=\u0022noreferrer\u0022\u003EFlareSolverr\u003C/a\u003E to access it.",
    "downloadlink": 0,
    "downloadlink2": 1,
    "info_download": "As the iTorrents .torrent download link on this site is known to fail from time to time, we suggest using the magnet link as a fallback. The BTCache and Torrage services are not supported because they require additional user interaction (a captcha for BTCache and a download button on Torrage.)",
    "sort": 2,
    "type": 1
  },
  "baseUrl": "https://1337x.to/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:45:23.6832453Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(8,'Badass Torrents','Cardigann',replace('{
  "definitionFile": "badasstorrents",
  "extraFieldData": {
    "downloadlink": 1,
    "downloadlink2": 0,
    "info_download": "You can optionally set as a fallback an automatic alternate link, so if the .torrent download link fails your download will still be successful."
  },
  "baseUrl": "https://badasstorrents.com/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:45:57.387673Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(9,'BTSOW','Cardigann',replace('{
  "definitionFile": "btsow",
  "extraFieldData": {
    "info_8000": "BTSOW does not return categories in its search results.\u003C/br\u003ETo add to your Apps\u0027 Torznab indexer, replace all categories with 8000(Other)."
  },
  "baseUrl": "https://btsow.motorcycles/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:46:29.2732595Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(10,'Internet Archive','Cardigann',replace('{
  "definitionFile": "internetarchive",
  "extraFieldData": {
    "titleOnly": true,
    "noMagnet": false,
    "sort": 2,
    "type": 1
  },
  "baseUrl": "https://archive.org/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:47:32.956146Z',0,1,'[]',0);
INSERT INTO Indexers VALUES(11,'Isohunt2','Cardigann',replace('{
  "definitionFile": "isohunt2",
  "extraFieldData": {
    "category": 0,
    "sort": 0
  },
  "baseUrl": "https://isohunt.nz/",
  "baseSettings": {
    "limitsUnit": 0
  },
  "torrentBaseSettings": {}
}','
',char(10)),'CardigannSettings',1,25,'2024-06-07 13:48:01.6292084Z',0,1,'[]',0);
COMMIT;

