version: '3'
services:
  influxdb:
    networks:
      - unifi-poller
  chronograf:
    networks:
      - unifi-poller
  grafana:
    networks:
      - unifi-poller
  unifi-poller:
    networks:
      - unifi-poller
networks:
  unifi-poller:
