request = "POST"
compressed
cookie = "cookie_deluge.txt"
cookie-jar = "cookie_deluge.txt"
header = "Content-Type: application/json"
header = "Accept: application/json"
url = "http://{{ ansible_default_ipv4.address }}:8112/json"
write-out = "\n"
