{
    "file": 3,
    "format": 1
}{
    "hosts": [
        [
            "{{ deluge_host_key }}",
            "127.0.0.1",
            58846,
            "localclient",
            "{{ deluge_localclient_password }}"
        ]
    ]
}
