CREATE TABLE IF NOT EXISTS "Users" ("Id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "Identifier" TEXT NOT NULL, "Username" TEXT NOT NULL, "Password" TEXT NOT NULL, "Salt" TEXT, "Iterations" INTEGER);
INSERT INTO Users VALUES(1,'a9b36c00-f557-494f-bb4c-fe92e9d48410','ppouliot','My5oOvmtGBZbjZUCZQbowX+lF7Wywv4ug6Q5Yk0NVWg=','RssuKMPsW8Rw/RnrN5VJXQ==',10000);
