PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Users" ("Id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "Identifier" TEXT NOT NULL, "Username" TEXT NOT NULL, "Password" TEXT NOT NULL, "Salt" TEXT, "Iterations" INTEGER);
INSERT INTO Users VALUES(1,'c1c84ecd-892c-4378-bee4-3320fda2626d','peter','ic5ps/vqQLCPPRUMyorFHuE4ueaZ9/k2Jm/9XeZFlMs=','A8PoKRK+rspmehSn6UCpCA==',10000);
COMMIT;
